* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

.clearfix::after {
	display: block;
	content: "";
	clear: both;
}
header {
	width: 100%;
	height: 50px;
	background-color: #ff9a4b;
}
main {
	margin: 50px auto;
	width: 960px;
}
.step1, .step2, .step3{
  width: 300px;
  float: left;
  padding: 10px;
  position: relative;
  border: 1px solid #eee;
}
.step2 {
	margin: 0 30px;
}
.step1-img {
  height: 150px;
  background-image: url(img/flow01.png);
  background-size: cover;
  background-position: bottom;
}

.step2-img {
  height: 150px;
  background-image: url(img/flow02.png);
  background-size: cover;
  background-position: bottom;
}

.step3-img {
  height: 150px;
  background-image: url(img/flow03.png);
  background-size: cover;
  background-position: bottom;
}

.box {
  top: 0;
  left: 0;
  position: absolute;
  background-color: #FF9A4B;
  color: #fff;
  padding: 3px;
}

.title {
  margin: 15px 0 5px;
}

footer {
	width: 100%;
	height: 50px;
	background-color: #aaaaaa;
}

@media screen and (max-width: 768px) {

  main {
    width: 90%;
  }
  .step1 {
    width: 100%;
    margin-bottom: 20px;
  }
  .step1-img {
    width: 100%;
  }
  .step2 {
    width: 100%;
    margin-left: 0;
    margin-bottom: 20px;
  }
  .step2-img {
    width: 100%;
  }
  .step3 {
    width: 100%;
  }
  .step3-img {
    width: 100%;
  }
}
